
.root {
	background-color: hsl(0deg 0% 100%);
	color: black;
	position: sticky;
	top: 0;
	padding-block: 40px 35px;
	padding-inline: 18px;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	isolation: isolate;
	z-index: 10;

	&::before {
		z-index: -1;
		content: "";
		background-image: linear-gradient(white, white);
		width: 100%;
		position: absolute;
		height: 100%;
		top: 0;
		left: 0;
	}
}



.socials {
	justify-self: end;
	align-items: center;
	align-content: center;
}


.icon {
	transition: opacity 0.2s ease-in-out;
}

.hidden {
	opacity: 0;
}


@media (width >= 30rem) {
	.root {
		padding-inline: min(calc(120 / 1440 * 100vw), 120px);
		padding-block: 18px 20px;
	}


}


@media (width < 50rem) {
	.list {
		position: absolute;
		visibility: hidden;
		width: 100%;
		background-color: #fff;
		left: 0;
		top: 100%;
		translate: 0 -100%;
		z-index: -2;
		gap: 0;
		transition: opacity 0.2s ease-in-out, translate 0.2s ease-in-out;
		padding-bottom: 20px;
		opacity: 0;

		& a {
			display: block;
			padding: 10px 18px;
		}
	}

	.list.opened {
		visibility: visible;
		translate: 0 0;
		opacity: 1;
	}

	.toggle {
		all:unset;
		cursor: pointer;

	}

	.nav {
		order: -1;
	}
}

@media (width >= 50rem) {
	.root {
		display: grid;
		grid-template-columns: 1fr calc(540 / 16 * 1rem) auto;
		justify-content: space-between;
		padding-inline: min(calc(120 / 1440 * 100vw), 120px);
		gap: 9.5%;

		& .list {
			display: flex;
			justify-content: space-between;
		}
	}

	.toggle {
		display: none;
	}
}
