.default,
.border,
.white {
	font: inherit;
	font-weight: 600;
	padding-inline: calc(9 / 16 * 2em);
	padding-block: calc(9 / 16 * 1em);
	cursor: pointer;
	text-decoration: none;
	border-radius: 8px;
	border: 1px solid transparent;
	outline-offset: 0.2em;
	text-align: center;
	display: flex;
	gap: 0.5em;
	align-items: center;
	justify-content: center;
	transition-property: background-color, color;
	transition-duration: 0.2s;

	&:disabled {
		pointer-events: none;
		opacity: 0.8;
	}
}

.default {
	background-color: var(--accent);
	color: var(--accent-dark);
	outline-color: var(--accent);

	&:is(:hover, :focus-visible) {
		background-color: hsl(47deg 100% 36%);
	}
}

.border {
	background-color: transparent;
	color: hsl(0deg 0% 100%);
	border-color: currentcolor;


	&:is(:hover, :focus-visible) {
		background-color: hsl(0deg 0% 100%);
		color: var(--accent-dark);
		border-color: hsl(0deg 0% 100%);
	}
}

.white {
	background-color: white;
	color: var(--accent-dark);

	&:is(:hover, :focus-visible) {
		background-color: var(--accent)
	}
}
