@custom-media --viewport-medium (width >= 64rem);

:root {
	--accent: hsl(47deg 97% 51%);
	--accent-dark: hsl(266deg 80% 18%);
	--side-offset: 2rem;
	--secondary: hsl(266deg 100% 50%);

	@media (--viewport-medium) {
		--side-offset: calc(50% - 960px / 2);
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	height: 100%;
	font-weight: 400;
	font-size: 16px;
	line-height: calc(24 / 16);
	letter-spacing: -0.02em;
	color: hsl(0deg 0% 21%);
}

body {
	height: 100%;
	margin: 0;
}

.title {
	font-weight: 600;
	font-size: calc(24 / 16);
	color: var(--accent-dark);
}

.mark {
	font-weight: 700;
	color: var(--secondary);
}
